In [120]:
import numpy as np
import pandas as pd 
import os
import math
import time
import urllib
import zipfile
import matplotlib.pyplot as plt 

import pyspark
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import countDistinct, col, lit
from pyspark.sql.types import StructType, StructField, IntegerType

# Build our Spark Session and Context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [125]:
# read in dataframes
pd_ratings = pd.read_csv('../data/movies/ratings.csv')
pd_movies = pd.read_csv('../data/movies/movies.csv')

# Convert a Pandas df to a Spark df
ratings_df = spark.createDataFrame(pd_ratings) 

# For titles later
movies_df = spark.read.csv('../data/movies/movies.csv',header=True)

# # Convert a Spark df to a Pandas df
# pandas_df = spark_df.toPandas()

# Cut out timestamp column
ratings_df = ratings_df.drop(ratings_df['timestamp'])

In [173]:
# To convert predictions matrix into a more interpretable form
def convert_movie_id(pd_ratings, pd_movies):
    for x in range(1,len(pd_movies)):
        pd_ratings.replace({'movieId': x}, pd_movies['title'][x-1],inplace=True)
    return pd_ratings

   userId                         movieId  rating   timestamp
0       1                            test     2.5  1260759144
1       1                    Akira (1988)     3.0  1260759179
2       1  When Harry Met Sally... (1989)     3.0  1260759182
3       1      My Fellow Americans (1996)     2.0  1260759185
4       1            Kolya (Kolja) (1996)     4.0  1260759205

ValueError: invalid literal for int() with base 10: 'Mighty Morphin Power Rangers: The Movie (1995)'

In [117]:
# train-test split
train, test = ratings_df.randomSplit([.8, .20], seed=42)

In [118]:
factor_model = ALS(
    itemCol='movieId',
    userCol='userId',
    ratingCol='rating',
    nonnegative=True,    
    regParam=0.1,
    coldStartStrategy='drop',
    rank=20)

recommender = factor_model.fit(train)

In [121]:
# Fit model
model_start_time=time.time()
ratings=factor_model.fit(train)
stop_train_time=time.time()
print(stop_train_time-model_start_time)

4.799349308013916

In [ ]:
# Make predictions
predict=ratings.transform(test)
transform_test_time=time.time()
print(transform_test_time-stop_train_time)