In [1]:
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
import numpy as np
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
import time
spark = SparkSession.builder.getOrCreate()

In [2]:
start_time = time.time()

#100K
#pd_ratings= pd.read_csv('../data/movies/ratings.csv')
#20 million
pd_ratings= pd.read_csv('../data/movies/ml-20m/ratings.csv')

In [3]:
#100K

#pd_ratings= pd.read_csv('../data/movies/ratings.csv')
#20 mil
#pd_ratings= pd.read_csv('../data/movies/ml-20m/ratings.csv')

pd_ratings= pd.read_csv('../data/movies/ml-1m/ratings.dat', sep='::', names =['userId','movieId','rating','timestamp'])
pd_ratings=pd_ratings.drop(['timestamp'], axis=1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys

In [4]:
pd_ratings.head()

   userId  movieId  rating
0       1     1193       5
1       1      661       3
2       1      914       3
3       1     3408       4
4       1     2355       5

In [5]:

spark_ratings= spark.createDataFrame(pd_ratings) 
#spark_ratings = spark.read.csv('../data/movies/ml-1m/ratings.dat', header=True)
#spark_ratings= spark.read.option("delimiter", ":").csv('../data/movies/ml-1m/ratings.dat')
#spark_ratings = spark.read.csv('../data/movies/ml-1m/ratings.csv').toDF('Idx','UserId','MovieId','Rating', 'timestamp')
train, test = spark_ratings.randomSplit([0.8, 0.2], seed=42)
load_time=time.time()
print(load_time-start_time)

34.33968710899353

In [6]:
train.show()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|      1|     5|
|     1|    527|     5|
|     1|    531|     4|
|     1|    588|     4|
|     1|    594|     4|
|     1|    595|     5|
|     1|    608|     4|
|     1|    661|     3|
|     1|    720|     3|
|     1|    745|     3|
|     1|    914|     3|
|     1|    919|     4|
|     1|   1022|     5|
|     1|   1028|     5|
|     1|   1029|     5|
|     1|   1035|     5|
|     1|   1097|     4|
|     1|   1193|     5|
|     1|   1197|     3|
|     1|   1207|     4|
+------+-------+------+
only showing top 20 rows

In [7]:
factor_model = ALS(
    itemCol='movieId',
    userCol='userId',
    ratingCol='rating',
    nonnegative=True,    
    regParam=0.1,
    coldStartStrategy='drop',
    rank=20)

In [8]:
model_start_time=time.time()
ratings=factor_model.fit(train)
stop_train_time=time.time()
print(stop_train_time-model_start_time)

5.869081020355225

In [9]:
predict=ratings.transform(test)
transform_test_time=time.time()
print(transform_test_time-stop_train_time)

0.053322792053222656

In [12]:
rmse_1_start_time=time.time()
predictions_df = predict.toPandas()
train= train.toPandas()
predictions_df = predict.toPandas().fillna(train['rating'].mean())
test_pd=test.toPandas()
predictions_df['squared_error'] = (predictions_df['rating'] - predictions_df['prediction'])**2
rmse_1= np.sqrt(sum(predictions_df['squared_error']) / len(predictions_df))
rmse_1_end_time=time.time()
print(rmse_1)
print(rmse_1_end_time-rmse_1_start_time)

0.8690048721434661
10.572710514068604

In [10]:
rmse_2_end_time=time.time()
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse_2 = evaluator.evaluate(predict)
rmse_2_end_time=time.time()
print(rmse_2)
print(rmse_2_end_time-rmse_2_end_time)

0.869004872075605
0.0

In [11]:
load_to_end = rmse_2_end_time-start_time
model_to_end = rmse_2_end_time-model_start_time
print(f'total_time from load to RMSE ={load_to_end}')
print(f'total_time from model to RMSE ={model_to_end}')

total_time from load to RMSE =46.17967343330383
total_time from model to RMSE =10.316545009613037