In [2]:
import pandas as pd
from surprise.model_selection import train_test_split
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate
from surprise import NormalPredictor, KNNBasic, KNNWithMeans, KNNWithZScore, KNNBaseline, SVD, BaselineOnly, SVDpp, NMF, SlopeOne, CoClustering
from surprise.accuracy import rmse

In [ ]:
df = pd.read_csv('../data/movies/ratings.csv')

In [ ]:
df.drop('timestamp',axis=1,inplace=True)

In [ ]:
reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(df,reader)

In [ ]:
train, test = train_test_split(data, test_size=0.2)

## Test Surprise Algorithms

In [ ]:
benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)

In [ ]:
surprise_results = pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

In [ ]:
surprise_results

## Using Surprise SVD++

In [ ]:
svdpp_options = {} # adjust hyper-params here
algo = SVDpp(SVDpp_options=svdpp_options)

In [ ]:
predictions = algo.fit(train).test(test)

In [ ]:
accuracy.rmse(predictions)

## Merging Nick & Kayla's Movie Rating Data

In [3]:
teach = pd.read_csv('../data/movies/g90_movie_ratings.csv')

In [4]:
teach.head()

,Name,21 Jump Street,28 Days Later,A Beautiful Mind,About Time,Air Force One,Alien,Aliens,American Gangster,Annihilation,...,The Godfather,The Intouchables,The Life Aquatic w. Steve Zissou,The Martian,The Pianist,Thor: Ragnarok,Three Billboards Outside Ebbing Missouri,Tron: Legacy,War Games,Wayne's World
0,Kayla Thomas,NaN,NaN,4.0,10.0,3.0,NaN,NaN,4.0,NaN,...,NaN,NaN,3.0,NaN,6.0,NaN,7.0,NaN,NaN,2.0
1,Nick Jacobsohn,7.0,NaN,NaN,NaN,NaN,10.0,8.0,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,7.0
2,Andrew,6.0,NaN,NaN,NaN,5.0,6.0,6.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,7.0,NaN,NaN,NaN
3,John Herr,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jarred Bultema,6.0,6.0,8.0,NaN,5.0,5.0,NaN,7.0,3.0,...,NaN,NaN,6.0,8.0,6.0,10.0,NaN,5.0,5.0,7.0

In [8]:
teach = teach[:2]

In [9]:
teach

,Name,21 Jump Street,28 Days Later,A Beautiful Mind,About Time,Air Force One,Alien,Aliens,American Gangster,Annihilation,...,The Godfather,The Intouchables,The Life Aquatic w. Steve Zissou,The Martian,The Pianist,Thor: Ragnarok,Three Billboards Outside Ebbing Missouri,Tron: Legacy,War Games,Wayne's World
0,Kayla Thomas,NaN,NaN,4.0,10.0,3.0,NaN,NaN,4.0,NaN,...,NaN,NaN,3.0,NaN,6.0,NaN,7.0,NaN,NaN,2.0
1,Nick Jacobsohn,7.0,NaN,NaN,NaN,NaN,10.0,8.0,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,7.0

In [20]:
class_rat = pd.read_csv('../data/movies/g99_movie_rating.csv')

In [21]:
class_rat.head()

,Name,21 Jump Street,28 Days Later,A Beautiful Mind,About Time,Air Force One,Alien,Aliens,American Gangster,Annihilation,...,The Godfather,The Intouchables,The Life Aquatic w. Steve Zissou,The Martian,The Pianist,Thor: Ragnarok,Three Billboards Outside Ebbing Missouri,Tron: Legacy,War Games,Wayne's World
0,Kayla Thomas,5.0,NaN,4.0,10.0,3.0,NaN,NaN,4.0,NaN,...,NaN,NaN,3.0,NaN,6.0,NaN,7.0,NaN,NaN,2.0
1,Alex Cross,5.0,4.0,8.0,NaN,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN
2,Alex Rook,NaN,6.0,NaN,NaN,NaN,8.0,6.0,NaN,NaN,...,NaN,NaN,NaN,8.0,NaN,8.0,NaN,NaN,7.0,6.0
3,Dan Reiff,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,5.0,NaN,4.0,4.0,NaN,NaN,NaN
4,Dan Riggi,7.0,3.0,7.0,NaN,7.0,8.0,6.0,9.0,NaN,...,10.0,NaN,5.0,7.0,NaN,7.0,NaN,3.0,NaN,4.0

In [25]:
cols = list(teach.columns.values)

In [29]:
teach.set_index(teach['Name'],inplace=True)

In [34]:
teach.drop(columns='Name',inplace=True)

In [40]:
teach.fillna(0,inplace=True)

In [42]:
teach = teach/2

In [43]:
teach

,21 Jump Street,28 Days Later,A Beautiful Mind,About Time,Air Force One,Alien,Aliens,American Gangster,Annihilation,Apollo 13,...,The Godfather,The Intouchables,The Life Aquatic w. Steve Zissou,The Martian,The Pianist,Thor: Ragnarok,Three Billboards Outside Ebbing Missouri,Tron: Legacy,War Games,Wayne's World
Name,,,,,,,,,,,,,,,,,,,,,
Kayla Thomas,0.0,0.0,2.0,5.0,1.5,0.0,0.0,2.0,0.0,2.0,...,0.0,0.0,1.5,0.0,3.0,0.0,3.5,0.0,0.0,1.0
Nick Jacobsohn,3.5,0.0,0.0,0.0,0.0,5.0,4.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,3.5

In [49]:
teach.index[0]

'Kayla Thomas'

In [75]:
movies[movies['title'] == cols[3]]

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [98]:
names_lst = []
movies_lst = []
ratings_lst = []

for idx, row in enumerate(teach.values):
    for movie, val in enumerate(row):
        if val > 0:
            #input = ','.join(name,title,val)
            names_lst.append(teach.index[idx])
            movies_lst.append(cols[movie+1])
            ratings_lst.append(val)

In [179]:
new_df = pd.DataFrame({'user':names_lst,'movie':movies_lst,'rating':ratings_lst})

In [180]:
def f(row):
    if row['user'] == 'Kayla Thomas':
        val = 99999998
    elif row['user'] == 'Nick Jacobsohn':
        val = 99999999
    return val

In [181]:
new_df['userId'] = new_df.apply(f, axis=1)

In [182]:
new_df

              user                                     movie  rating    userId
0     Kayla Thomas                          A Beautiful Mind     2.0  99999998
1     Kayla Thomas                                About Time     5.0  99999998
2     Kayla Thomas                             Air Force One     1.5  99999998
3     Kayla Thomas                         American Gangster     2.0  99999998
4     Kayla Thomas                                 Apollo 13     2.0  99999998
5     Kayla Thomas                        Back to the Future     2.5  99999998
6     Kayla Thomas                     Count of Monte Cristo     4.0  99999998
7     Kayla Thomas     Eternal Sunshine of the Spotless Mind     1.0  99999998
8     Kayla Thomas                 Girl with a Pearl Earring     1.5  99999998
9     Kayla Thomas                                 Gladiator     2.5  99999998
10    Kayla Thomas                         Good Will Hunting     3.0  99999998
11    Kayla Thomas                              Heavyweights     3.0  99999998
12    Kayla Thomas                                   I Tonya     2.0  99999998
13    Kayla Thomas                                 Inception     3.5  99999998
14    Kayla Thomas                      LOTR: The Two Towers     1.5  99999998
15    Kayla Thomas                       Love and Basketball     3.5  99999998
16    Kayla Thomas           Monty Python and the Holy Grail     2.0  99999998
17    Kayla Thomas                              Office Space     2.0  99999998
18    Kayla Thomas                      Phantom of the Opera     2.0  99999998
19    Kayla Thomas                       Pride and Prejudice     4.5  99999998
20    Kayla Thomas                            Princess Bride     4.5  99999998
21    Kayla Thomas                       Save the Last Dance     2.5  99999998
22    Kayla Thomas                       Saving Private Ryan     2.0  99999998
23    Kayla Thomas                      Shawshank Redemption     3.5  99999998
24    Kayla Thomas                                  Snatched     4.5  99999998
25    Kayla Thomas                           The Dark Knight     3.0  99999998
26    Kayla Thomas                              The Departed     3.0  99999998
27    Kayla Thomas          The Life Aquatic w. Steve Zissou     1.5  99999998
28    Kayla Thomas                               The Pianist     3.0  99999998
29    Kayla Thomas  Three Billboards Outside Ebbing Missouri     3.5  99999998
30    Kayla Thomas                             Wayne's World     1.0  99999998
31  Nick Jacobsohn                            21 Jump Street     3.5  99999999
32  Nick Jacobsohn                                     Alien     5.0  99999999
33  Nick Jacobsohn                                    Aliens     4.0  99999999
34  Nick Jacobsohn                              Annihilation     4.0  99999999
35  Nick Jacobsohn                        Back to the Future     5.0  99999999
36  Nick Jacobsohn                              Big Lebowski     3.5  99999999
37  Nick Jacobsohn                                  Deadpool     4.5  99999999
38  Nick Jacobsohn                                Ex Machina     5.0  99999999
39  Nick Jacobsohn                         Good Will Hunting     4.0  99999999
40  Nick Jacobsohn                   Guardians of the Galaxy     2.5  99999999
41  Nick Jacobsohn                                  Hot Fuzz     4.0  99999999
42  Nick Jacobsohn                                 Inception     3.5  99999999
43  Nick Jacobsohn                              Interstellar     1.0  99999999
44  Nick Jacobsohn                                  Kingsman     2.0  99999999
45  Nick Jacobsohn                      LOTR: The Two Towers     4.5  99999999
46  Nick Jacobsohn           Monty Python and the Holy Grail     4.0  99999999
47  Nick Jacobsohn                                  Nausicaa     3.5  99999999
48  Nick Jacobsohn                                  Predator     1.5  99999999
49  Nick Jacobsohn                            Princess Bride     3.0  99999999
50  Nick Jacobsohn                              Pulp Fiction     4.5  99999999
51  Nick Jacobsohn                       Saving Private Ryan     1.5  99999999
52  Nick Jacobsohn               Scott Pilgrim vs. The World     4.0  99999999
53  Nick Jacobsohn                         Shaun of the Dead     4.0  99999999
54  Nick Jacobsohn                             Spirited Away     4.5  99999999
55  Nick Jacobsohn                           The Dark Knight     4.5  99999999
56  Nick Jacobsohn  Three Billboards Outside Ebbing Missouri     4.0  99999999
57  Nick Jacobsohn                             Wayne's World     3.5  99999999

In [183]:
teach_ratings = new_df.merge(movies,how='left',left_on='movie',right_on='title')

In [184]:
teach_ratings.drop(['genres','movie','title','user'],axis=1,inplace=True)

In [185]:
teach_ratings.dropna(axis=0,inplace=True)

In [186]:
teach_ratings['movieId'] = [int(ID) for ID in teach_ratings['movieId']]

In [197]:
teach_ratings = teach_ratings[['userId','movieId','rating']]

In [198]:
teach_ratings

      userId  movieId  rating
1   99999998   104374     5.0
2   99999998     1608     1.5
3   99999998    55765     2.0
4   99999998      150     2.0
5   99999998     1270     2.5
7   99999998     7361     1.0
8   99999998     7151     1.5
9   99999998     3578     2.5
10  99999998     8132     2.5
11  99999998     1704     3.0
14  99999998    79132     3.5
16  99999998     3554     3.5
17  99999998     1136     2.0
18  99999998     2502     2.0
19  99999998     3936     2.0
20  99999998     7579     4.5
21  99999998     7669     4.5
23  99999998     4054     2.5
24  99999998     2028     2.0
32  99999998     3253     1.0
33  99999999    93510     3.5
34  99999999     1214     5.0
35  99999999     1200     4.0
37  99999999     1270     5.0
39  99999999   122904     4.5
40  99999999   115713     5.0
41  99999999     1704     4.0
42  99999999   112852     2.5
43  99999999    51255     4.0
44  99999999    79132     3.5
45  99999999   109487     1.0
48  99999999     1136     4.0
50  99999999     3527     1.5
52  99999999      296     4.5
53  99999999     2028     1.5
55  99999999     8874     4.0
59  99999999     3253     3.5

In [10]:
ratings = pd.read_csv('../data/movies/ratings.csv')

In [195]:
ratings.drop('timestamp',axis=1,inplace=True)

In [211]:
ratings = ratings.append(teach_ratings)

In [212]:
ratings

      userId  movieId  rating
0          1       31     2.5
1          1     1029     3.0
2          1     1061     3.0
3          1     1129     2.0
4          1     1172     4.0
5          1     1263     2.0
6          1     1287     2.0
7          1     1293     2.0
8          1     1339     3.5
9          1     1343     2.0
10         1     1371     2.5
11         1     1405     1.0
12         1     1953     4.0
13         1     2105     4.0
14         1     2150     3.0
15         1     2193     2.0
16         1     2294     2.0
17         1     2455     2.5
18         1     2968     1.0
19         1     3671     3.0
20         2       10     4.0
21         2       17     5.0
22         2       39     5.0
23         2       47     4.0
24         2       50     4.0
25         2       52     3.0
26         2       62     3.0
27         2      110     4.0
28         2      144     3.0
29         2      150     5.0
..       ...      ...     ...
9   99999998     3578     2.5
10  99999998     8132     2.5
11  99999998     1704     3.0
14  99999998    79132     3.5
16  99999998     3554     3.5
17  99999998     1136     2.0
18  99999998     2502     2.0
19  99999998     3936     2.0
20  99999998     7579     4.5
21  99999998     7669     4.5
23  99999998     4054     2.5
24  99999998     2028     2.0
32  99999998     3253     1.0
33  99999999    93510     3.5
34  99999999     1214     5.0
35  99999999     1200     4.0
37  99999999     1270     5.0
39  99999999   122904     4.5
40  99999999   115713     5.0
41  99999999     1704     4.0
42  99999999   112852     2.5
43  99999999    51255     4.0
44  99999999    79132     3.5
45  99999999   109487     1.0
48  99999999     1136     4.0
50  99999999     3527     1.5
52  99999999      296     4.5
53  99999999     2028     1.5
55  99999999     8874     4.0
59  99999999     3253     3.5

[100041 rows x 3 columns]

In [213]:
ratings.to_csv('ratings_plus.csv',index=False)

In [214]:
ratings_kaylanick = pd.read_csv('../data/movies/ratings_plus.csv')

In [216]:
ratings_kaylanick.tail()

          userId  movieId  rating
100036  99999999     3527     1.5
100037  99999999      296     4.5
100038  99999999     2028     1.5
100039  99999999     8874     4.0
100040  99999999     3253     3.5

In [122]:
movies = pd.read_csv('../data/movies/movies.csv')

In [123]:
movies['title'] = [title[:-7] for title in movies['title']]

In [124]:
movies[:10]

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
5,6,Heat,Action|Crime|Thriller
6,7,Sabrina,Comedy|Romance
7,8,Tom and Huck,Adventure|Children
8,9,Sudden Death,Action
9,10,GoldenEye,Action|Adventure|Thriller

In [97]:
movies

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
5,6,Heat,Action|Crime|Thriller
6,7,Sabrina,Comedy|Romance
7,8,Tom and Huck,Adventure|Children
8,9,Sudden Death,Action
9,10,GoldenEye,Action|Adventure|Thriller
10,11,"American President, The",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It,Comedy|Horror
12,13,Balto,Adventure|Animation|Children
13,14,Nixon,Drama
14,15,Cutthroat Island,Action|Adventure|Romance
15,16,Casino,Crime|Drama
16,17,Sense and Sensibility,Drama|Romance
17,18,Four Rooms,Comedy
18,19,Ace Ventura: When Nature Calls,Comedy
19,20,Money Train,Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty,Comedy|Crime|Thriller
21,22,Copycat,Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins,Action|Crime|Thriller
23,24,Powder,Drama|Sci-Fi
24,25,Leaving Las Vegas,Drama|Romance
25,26,Othello,Drama
26,27,Now and Then,Children|Drama
27,28,Persuasion,Drama|Romance
28,29,"City of Lost Children, The (CitÃ© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao),Crime|Drama
...,...,...,...
9095,159690,Teenage Mutant Ninja Turtles: Out of the Shadows,Action|Adventure|Comedy
9096,159755,Popstar: Never Stop Never Stopping,Comedy
9097,159858,The Conjuring 2,Horror
9098,159972,Approaching the Unknown,Drama|Sci-Fi|Thriller
9099,160080,Ghostbusters,Action|Comedy|Horror|Sci-Fi
9100,160271,Central Intelligence,Action|Comedy
9101,160438,Jason Bourne,Action
9102,160440,The Maid's Room,Thriller
9103,160563,The Legend of Tarzan,Action|Adventure
9104,160565,The Purge: Election Year,Action|Horror|Sci-Fi
9105,160567,Mike & Dave Need Wedding Dates,Comedy
9106,160590,Survive and Advance,(no genres listed)
9107,160656,Tallulah,Drama
9108,160718,Piper,Animation
9109,160954,Nerve,Drama|Thriller
9110,161084,My Friend Rockefeller,Documentary
9111,161155,Sunspring,Sci-Fi
9112,161336,Author: The JT LeRoy Story,Documentary
9113,161582,Hell or High Water,Crime|Drama
9114,161594,Kingsglaive: Final Fantasy XV,Action|Adventure|Animation|Drama|Fantasy|Sci-Fi
9115,161830,Body,Drama|Horror|Thriller
9116,161918,Sharknado 4: The 4th Awakens,Action|Adventure|Horror|Sci-Fi
9117,161944,The Last Brickmaker in America,Drama
9118,162376,Stranger,Drama
9119,162542,Rustom,Romance|Thriller
9120,162672,Mohenjo Daro,Adventure|Drama|Romance
9121,163056,Shin Godzilla,Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado,Comedy
9124,164979,"Women of '69, U",Documentary

In [96]:
movies[movies['title']=='About Time']

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [12]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
links = pd.read_csv('../data/movies/links.csv')

In [16]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [18]:
tags = pd.read_csv('../data/movies/tags.csv')

In [19]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765